<h1>
   <%= @artist.name %>
</h1>

<h3><%= @artist.country %></h3>

<%= image_tag(@artist.image)  %>

<h2>Songs</h2>

<% songs = @artist.songs.sort_by { |song| song.year } %>
<%= render songs, hide_artist: true %>
