<section class="container artist">
  <div class="row text-center">
    <h1><%= @artist.name %></h1>
    <h4><%= @artist.country %></h4>

    <%= image_tag(@artist.image, :class => "artistimg")  %>

    <h2>Songs</h2>
  </div>

  <div class="row">
    <% songs = @artist.songs.sort_by { |song| song.year } %>
    <%= render songs, hide_artist: true %>
  </div>
</section>
