<section class="single-artist">
  <div class="container">
    <div class="row text-center">
      <h2 class="animated pulse"><%= @artist.name %> playlist</h2>

      <%= image_tag(@artist.image, :class => "artistimg")  %>
    </div>

    <div class="row">
      <% songs = @artist.songs.sort_by { |song| song.year } %>
      <%= render songs, hide_artist: true %>
    </div>
  </div>
</section>
