<div class="col-md-4">
    <p>Year: <%= song.year %></p>

    <p><%= song.title %></p>

    <% if song.user.present? %>
      <p>Added by: <%= link_to song.user.handle, user_songs_path( song.user ) %></p>
    <% end %>

    <p><%= link_to "Listen", song %></p><br/>
</div>
