<section class="newsong">
  <div class="container">
    <div class="row">
      <div class="col-md-4">&nbsp;</div>

      <div class="col-md-4 frmlr">
        <%= render "form" %>
      </div>

      <div class="col-md-4">&nbsp;</div>
    </div>
  </div>
</section>
