<section class="videoartist">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2">&nbsp;</div>

      <div class="col-md-8">
        <div class="text">
          <h2 class="animated pulse"><%= @song.title %></h2>
          <% if user_signed_in? %>
            <p><%= link_to "Delete Song", artist_song_path( @song.artist_id, @song.id ), method: :delete, data: { confirm: "Are you sure?" } %></p>
          <% end %>
        </div>
      </div>

      <div class="col-md-2">&nbsp;</div>
    </div>

    <div class="row text-center">
      <%= embed(@song.video) %>
    </div>
  </div>
</section>
