<section class="userprofile">
  <div class="container">
    <div class="row text-center">

      <h2><%= @user.handle %></h2>

      <br>

      <% @songs.each do |song| %>
      <h4 class="animated pulse"><%= link_to song.title, artist_song_path(song.id, song.user_id) %></h4>
      <% end %>
    </div>
  </div>
</section>
