// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allartists{
  position: relative;
  top: 170px;
}

.artist {
  position: relative;
  top: 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container .logo {
  height: 370px;
  width: 370px;
}

.artistimg {
  width: 850px;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// .artistsongs {
//   margin-top: 20px;
//   display: inline-block;
//   margin-right: 75px;
// }
