// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// All Artists Page
.allartists {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.allartists .container {
  background: rgba(0, 0, 0, 0.75);
}

.container .logo {
  height: 360px;
  width: 360px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.container .logo:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
    filter: grayscale(0%);
  border: 1px solid red;
}

.owl-carousel{
  margin-top: 50px;
  border-top: 1.7px solid red;
  border-bottom: 1.7px solid red;
}

.owl-carousel .owl-item img {
  height: 450px;
  width: 650px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

// Single Artist Page
.single-artist {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.single-artist .container {
  background: rgba(0, 0, 0, 0.75);
}

.single-artist h2 {
  color: red;
  margin-top: 50px;
}

.artistimg {
  width: 1000px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  padding-left: 160px;
  padding-right: 160px;
  border-bottom: 1px solid red;
}

.single-artist .col-md-4 {
  text-align: justify;
  padding-left: 65px;
  margin-top: 5px;
  margin-bottom: 60px;
}

.single-artist .col-md-4 .inline {
  display: inline-block;
  margin-left: 20px;
  color: red;
}

.single-artist .col-md-4 p {
  margin-left: 20px;
  color: white;
}

.single-artist .col-md-4 .user-link a {
  color: white;
}

.single-artist .col-md-4 .user-link a:hover {
  color: red;
  text-decoration: none;
}

.single-artist .col-md-4 .song-link a {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
}

.single-artist .col-md-4 .song-link a:hover {
  color: white;
  border: 1px solid white;
  text-decoration: none;
}
