// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// All Songs Page
.allsongs {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.allsongs .container {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 25px;
  padding-bottom: 50px;
}

.allsongs .alignment {
  text-align: left;
  margin-left: 45px;
}

.allsongs h2 {
  color: white;
  text-transform: red;
}
.allsongs .col-md-4 .stuff {
  margin-bottom: 35px;
  margin-top: 5px;
}

.allsongs .col-md-4 h3 a {
  color: red;
}

.allsongs .col-md-4 h3 a:hover {
  color: white;
  text-decoration: none;
}

.allsongs .col-md-4 p {
  color: white;
}

.allsongs .col-md-4 p a {
  color: white;
}

.allsongs .col-md-4 p a:hover {
  color: red;
  text-decoration: none;
}

.allsongs .col-md-4 .new a {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
}

.allsongs .col-md-4 .new a:hover {
  color: white;
  border: 1px solid white;
}

.allsongs .col-md-4 input {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.1);
}

// Video Page
.videoartist {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height: 100vh;
}

.videoartist .container {
  background: rgba(0, 0, 0, 0.75);
  padding-bottom: 30px;
}

iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 400px;
  width: 700px;
  border: none;
}

.videoartist .col-md-8 {
  border-bottom: 1px solid red;
}

.videoartist .col-md-8 .text {
  margin-top: 40px;
  margin-bottom: 30px;
}

.videoartist h2 {
  color: red;
}

.videoartist a {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
  margin-bottom: 40px;
}

.videoartist a:hover {
  color: white;
  border: 1px solid white;
  text-decoration: none;
}

// New Song
.newsong {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.newsong .container {
  background: rgba(0, 0, 0, 0.75);
}

.newsong .col-md-4 {
  margin-top: 70px;
  margin-left: 20px;
}

.newsong .field {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.newsong h2 {
  color: red;
}

.newsong .field-submit input {
  border: 1px solid red;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: red;
}

.newsong .field-submit input:hover {
  border: 1px solid white;
  color: white;
}

// rest
.col-md-4 {
  margin-top: 20px;
  text-align: center;
}

// User PROFILE
.userprofile {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463921173/free-leather-wallpaper-1_wtwbnh.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height: 100vh;
}

.userprofile .container {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
}

.userprofile h2 {
  color: white;
  margin-top: 50px;
  margin-bottom: -5px;
}

.userprofile h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.userprofile h4 a {
  color: red;
}

.userprofile h4 a:hover {
  color: white;
  text-decoration: none;
}
