// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allsongs {
  position: relative;
  top: 130px;
}

.allsongs p {
  margin-bottom: 20px;
}

.videoartist {
  position: relative;
  top: 100px;
}

iframe {
  margin-top: 20px;
  height: 500px;
  width: 800px;
}

.col-md-4 {
  margin-top: 20px;
  text-align: center;
}

.newsong {
  position: relative;
  top: 170px;
  margin-left: 700px;
}


.userprofile {
  position: relative;
  top: 120px;
}
