.welcome {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463852344/298375_xj0gag.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
}
